.container{
    display: flex;
    background-color: blue;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.nav_nav a{
    background-color: white;
    color: blue;
    padding: 10px;
    text-decoration: none;
    
}