*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sub-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}
.logo img{
    width: 20px;
}
.logo p{
    font-weight: 600;
    font-size: 20px;
}
nav ul{
    display: flex;
    gap: 15px;
    align-items: center;
}
ul li{
    list-style-type: none;
    font-weight: 600;
}
li a{
    text-decoration: none;
    color: #000;
}
.sign button{
    padding: 5px 10px;
    /* border: 1px solid #000; */
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(15, 54, 15);
}
.sign .green{
  background-color: rgb(15, 54, 15);
  color: white;
}
.container{
  background-color: rgb(233, 233, 233);
  margin-left: 0px;
  margin-right: 0px;
  height: 400px;
  background-image: url(../images/house-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 80px;
  position: relative;

}
.find{
  padding-top: 90px;
  display: block;
}
.find h2{
  font-size: 40px;
  font-weight: 600;
}
.find p{
  font-size: 17px;
}
.inside-head{
  position: absolute;
  bottom: -20px;
}
.buy{
  border: none;
  padding: 0 5px;

}
button{
  padding: 15px 30px;
  position: relative;
  margin-left: -5px;
  background-color: rgb(173, 173, 173);
  border: none;
}
/* button:hover{
  background-color: rgb(255, 166, 0);
  color: white;
}
button.open{
  background-color: rgb(255, 166, 0);
  color: white;
} */
.bought i{
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 15px;
  position: absolute;
  left: 4px;
  top: 16px;
  padding-left: 10px;
}
.buy .sell{
  border-left: none;
  border-right: none;
  outline: none;
}
.buy .rent{
  border-left: none;
  outline: none;
  border-radius: 0 10px 0 0;

}
.bought{
  border-right: none;
  border-radius: 10px 0 0 0;
}
.bought:hover{
  background-color: rgb(255, 166, 0);
  color: white;
}
.bought.open{
  background-color: rgb(255, 166, 0);
  color: white;
}
.list{
  display: flex;
  align-items: center;
  gap: 80px;
  background-color: #fff;
  box-shadow: 5px 5px 10px black;
  padding: 20px 10px;

}
.list.active{
  display: flex;
}
.search{
  background-color: rgb(15, 54, 15);
  padding: 10px;
  border-radius: 5px;
}
.search i{
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.location h5{
  font-size: 18px;
}
.location p{
  font-size: 12px;
}

.sell:hover{
  background-color: rgb(255, 166, 0);
  color: white;
}
.sell.open{
  background-color: rgb(255, 166, 0);
  color: white;
}
.list-sell{
  display: none;
  align-items: center;
  gap: 80px;
  background-color: #fff;
  box-shadow: 5px 5px 10px black;
  padding: 20px 10px;
  margin-left: 80px;
}
.list-sell.active{
  display: flex;
}
.rent:hover{
  background-color: rgb(255, 166, 0);
  color: white;
}
.list-rent{
  display: none;
  align-items: center;
  gap: 80px;
  background-color: #fff;
  box-shadow: 5px 5px 10px black;
  padding: 20px 10px;
  margin-left: 160px;
}
.list-rent.active{
  display: flex;
}
.image{
  justify-content: space-around;
  align-items: center;
  display: flex;
  padding: 60px;
}
.image img{
    width: 70px;
}
.class{
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-top: 0;
}
.arrows i{
  cursor: pointer;
  border: solid green 2px;
  border-radius: 50%;
  padding: 10px;
  font-size: 25px;
  

}
.dot{
  color: white;
  background-color: green;
  
}
.section3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.san{
  display: flex;
  align-items: end;
  font-size: 13px;
}
.sane{
  display: flex;
  align-items: end;
  font-size: 13px;
}
.sane i{
  color: white;
  background-color: orangered;
  padding: 10px;
  border-radius: 50%;
  font-size: 15px;

}
.san i{
  color: green;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
}
.house img{
  border-radius: 10px;
  width: 170px;
  height: 200px;
}
.house h4{
  font-size: 15px;
}
.back{
  background-color:rgb(233, 233, 233);
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.our{
  text-align: center;
  margin-top: 4%;
}
.our p{
  color: darkgreen;
}
h2{
  font-weight: 700;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid div{
    width: 280px;
    height: 300px;
    background-color: #F3E8FF;  
    border: solid white 4px;
    padding: 20%;
    text-align: center;
    
}
.grid div i{
    font-size: 40px;
    background-color: white;  
    border: solid white 4px;
    border-radius: 50%;
  
}
.grid div p{
  padding-top: 150;
}
.new{
  display: flex;
  gap: 10px;
  padding-top: 70px;
}
.new1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.new1 img{
  width: 300px;
  height: 500px;
}
.new1 .short{
  width: 300px;
  height: 300px;
}
.new2{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
}
.new2 .tall{
width: 300px;
height: 400px;
}
.new2 img{
  width: 300px;
  height: 400px;
}
.whole{
  display: flex;
}
.aboutus{
  width: 420px;
  padding-left: 90px;
  padding-top: 140px;
}
h5{
  color: green;
}
h3{
  font-size: 40px;
}.write{
  padding-top: 30px;
}
.know{
  margin-top: 50px;
  background-color: rgb(35, 66, 35);
  color: white;
  padding: 10px;
  width: 60%;
}
  



       /* @media (min-width: 320px) and (max-width: 767px){
        .gen{
            /* background-color: red; */
            /* height: 100%;
            width: 100%;
        }

        .navbar{
          display: none;
        }
         
        .gen{
            grid-template-columns: repeat(3,300px);
            height: fit-content;
        }
        .grid{
          grid-template-columns: repeat(1, 400px);
        }
      } */