* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cw-gen-div {
    background-color: rgb(220, 144, 157);
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    position: fixed;
}

.logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.cw {
    color: rgb(220, 144, 157);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid rgb(220, 144, 157) 2px;
    border-radius: 50%;
    padding: 10px;
}

.cathewig {
    color: rgb(220, 144, 157);
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.main-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: rgb(220, 144, 157);
}

.menu {
    width: 40px;
    height: 40px;
    display: none;
}

.menu img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

button {
    margin: 50px 0 0 50px;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

button:hover {
    color: rgb(220, 144, 157);
}

.cw-gen-div2 {
    width: 100%;
    height: 100vh;
    background-color: hsl(350, 52%, 51%);
}

.query-nav {
    display: none;
}

.img-slide-div {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.mom-each-div {
    width: 100%;
    height: 150px;
    /* background-color: white; */
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
}

.each-div {
    width: 150px;
    height: 100%;
    background-color: black;
    border-radius: 20px;
}

.each-div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
    nav {
        padding: 0 10px;
    }

    .main-links {
        display: none;
    }

    .menu {
        display: block;
    }

    .exit-menu-icon {
        display: none;
    }

    .query-nav {
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        position: fixed;
        top: 90px;
        right: 10px;
        height: 180px;
        width: 150px;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-size: 22px;
        padding: 10px 0;
        border-radius: 20px;
        display: none;
        transition: opacity 10s ease-in-out;
        
    }

    .query-nav.show {
        opacity: 1;
        display: flex;
    }
}