*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    width: 100%;
    background-color: white;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px;
    /* border: black solid 1px; */
    border-bottom: 1px solid black;
}
.my{
    display: flex;
    gap: 20px;
}
.my a{
  text-decoration: none;
  color: black;
}
.my a:hover{
  color: burlywood;
}
.icons{
    display: flex;
    gap: 20px; 
}
.search-container{
    position: relative;
    width: 330px;
    margin: 20px;
}
.search-container i{
    position: absolute;
    top: 14px;
    right: 10px;
    font-size: 20px;
    color: #666;

}
.search-input{
    width: 100%;
    padding:12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
    color: #666;
    background-color: white;
    box-sizing: border-box;
}
.search-input::placeholder{
    color: #999;
}
@font-face{
  font-family:myfont ;
  src: url(PlayfairDisplay-Regular.ttf);
}
.logo{
    display: flex;
    font-family: myfont;
    gap: 230px;
    align-items: center;
}
.line{
    padding-left: 90px;
    padding-right: 90px;
}
.cart{
    display: flex;
    gap: 10px;
    letter-spacing: 2px;
    font-size: 20px;
}


nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
nav a{ 
  text-decoration: none;
  color: black;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover{
  background-color: transparent;
  color: burlywood;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: burlywood;
  /* background-color: #f1f1f1; */
}
.men-container {
  position: relative;
  display: inline-block;
  display: none;
}

#hamburger {
  width: 30px;
  cursor: pointer;
}

.down {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px; 
  background-color: white;
  border: 1px solid #ccc;
  width: 130px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

.down a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}
.buy{
  font-size: 14px;
  /* display: none; */
}

.down a:hover {
  background-color: #f0f0f0;
}
.down-content{
  display: none;
}
.down-content.active{
  display: block;
}


.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* border-radius: 10px; */
    background: white;
    margin-top: 15px;
}

  .slide {
    min-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: #ddd;
    position: relative;
  }
  
  
  .slide img{
    width: 100%;
  }
  .cart-details{
    background-color:#F3E8FF;
    width: 300px;
    position: absolute;
    border-radius: 10px;
    top: 95px;
    left: 1000px;
    padding: 10px;
    display: none;
  }
  .cart-details.active{
    display: block;
  }
  
  .checkout{
    justify-content: space-evenly;
    display: flex;

  
  }
  #checkout-btn{
    background-color:white ;
    color: black;
  }
  #checkout-btn a{
    text-decoration: none;
    color: black;
  }
  .cart-item-image img{
    height:50px;
    width: 50px;
    object-fit: cover;
  }
  
  .write {
    position: absolute;
    color: white;
  }
  .po{
    display: flex;
    color: black;
    margin-top: 30px;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
    
  }
  .po a{
    display: inline-block;
    padding: 12px 30px;
    font-family: sans-serif;
    letter-spacing: 1px;
    border: 2px #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    color: black;

  }
  .po a:hover{
    background-color: burlywood;
    color: white;
  }
  .w{
    border: solid white;
    border-left: none;
    border-right: none;
  }
  .w p{
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: sans-serif;
  }
  @font-face{
    font-family:myfont ;
    src: url(PlayfairDisplay-Regular.ttf);
  }
  .w h2{
    font-size: 4.0rem;
    letter-spacing: 2px;
    font-family: myfont,serif;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .arr div{
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
  } 
  .grid{
    display: grid;
    grid-template-columns: repeat(4,280px);
    gap: 10px;
    /* padding: 20px; */
  }
  .grid div{
    height: 350px;
    background-color:#F3E8FF;
    border: 1px solid #f0f0f0;
    text-align: center;
  }
  .grid div img{
    height: 350px;
    width: 280px;
    align-items: center;
    justify-content: center;
  }
  .grid2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
  }
  .grid2 div{
    height: 350px;
    background-color:#F3E8FF;
    border: 1px solid #f0f0f0;
    text-align: center;
  }
  .grid2 div img{
    object-fit: cover;
    width: 280px;
    height: 350px;
    align-items: center;
    justify-content: center;
  }
  .best{
    margin-top: 120px;
  }

  .best h2{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
  }
  .grid div p:nth-child(2){
    color: #666;
  }
  .grid div p:nth-child(3){
    font-weight: 600;
    color: #333;
  
  }
  .grid2 div p:nth-child(2){
    color: #666;
  }
  .grid2 div p:nth-child(3){
    font-weight: 600;
    color: #333;
  
  }
  .grid2 div:nth-child(3){
    position: relative;
  }
  .grid2 div p:nth-child(5){
    border: solid white;
    position: absolute;
    top: 45%;
    background-color: white;
    width: 100%;
    height: 15%;
    padding: 16px;
    font-size: 10px;

  }
  .pouch{
    text-align: center;
    font-size: 30px;
    margin-top: 120px;
    margin-bottom: 20px;
    
  
}
.grids{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.grids div{
    background-color:#F3E8FF;
    height: 350px;
    margin-bottom: 90px;
    text-align: center;
    position: relative;
    
}
.grids div img{
    height: 350px;
    width: 280px;
    object-fit: cover;
    /* align-items: center;
    justify-content: center; */
}
.grids div p:nth-child(2){
  color: #666;
}
.grids div p:nth-child(3){
  font-weight: 600;
  color: #333;

}
.grids div p:nth-child(5){
  position: absolute;
  top: 0;
  left: 220px;
  border-radius: 50%;
  background-color: burlywood;
  padding: 10px;
}
.add{
  background-color: #F3E8FF;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 0 3px 3px 0;
  font-weight: 700;
  
}
.add:hover{
  background-color: burlywood;
  color: white;
}
.flex-con{
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.flex1{
  width: 350px;
  height: 600px;
  /* background-color: aqua; */
}
.flex1 div img{
  width: 350px;
  height: 600px;
  object-fit: cover;
}
.flex2{
  width: 380px;
  height: 600px;
  margin-top: 20px;
  position: relative;
}
.just{
  position: absolute;
  top: 200px;
  left: 20px;
  color: white;
  font-size: 1.8rem;
  width: 335px;
  text-align: center;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-weight: 700;
}
.just p:nth-child(2){
  font-size: 1.0rem;
  margin-top: 20px;
}
.flex2 div img{
  width: 380px;
  height: 600px;
  border: solid brown;
  padding: 10px;
  object-fit: cover;
}
.flex3{
  width: 380px;
  height: 600px;
  margin-top: 40px;
}
.flex3 div img{
  width: 380px;
  height: 600px;
  object-fit: cover;
}
  .photos{
    margin-top: 190px;
  }
  .bags{
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(4,250px);
    padding: 20px;
    gap: 10px;
  }
  .bags div{
    height: 250px;
    background-color:#F3E8FF;
    border: 1px solid #f0f0f0;
    /* text-align: center; */
  }
  .bags div img{
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .handle{
    text-align: center;
  }
  .handle i{
    border: solid #333;
    border-radius: 50%;
    color: white;
    background-color: #333;
    padding: 10px;
    font-size: 25px;
  }
  .handle p{
    font-size: 22px;
  }
  button{
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .follow button{
    display: flex;
    gap: 10px;
    border: solid #3897f0;
    background-color: #3897f0;
    font-size: 13px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 3px;
    padding: 5px;
  }
  .box{
    background-color: #F3E8FF;
    width: 100%;
    height: 130px;
    margin: 20px 0;
    font-size: 20px;
    

  }
  .box-content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 65px;
  } 
  
  .box2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  input{
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 0 3px 3px 0;
    font-size: 14px;
    outline: none;
  }
  button{
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0 3px 3px 0
  }
  button:hover{
    background-color: #444;
  }
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

  }
  .contact div{
    padding-top: 10px;
    font-size: 14px;
    color: #333;
  }
  .contact i{
    padding-top: 10px;
    font-size: 17px;
    margin-right: 10px;
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    line-height: 36px;
  
  }
  .info div{
    padding-top: 10px;
    font-size: 14px;
    color: #333;
  }
  .info a{
    text-decoration: none;
    font-size: 14px;
    color: #333;

  }
  .info a:hover{
    color: aqua;
  }
  .help div{
    padding-top: 10px;
    font-size: 14px; 
    color: #333;
  }
  @media (min-width: 320px) and (max-width: 767px){
    .section1{
      display: none;
    }
    nav{
        display: none;
    }
    .search-container{
      display: none;
    }
    .AHA h1{
      font-size: 15px;
    }
    .cart p:nth-child(1){
      display: none;
    }
    
     .line{
      padding-left: 0;
      padding-right: 0;
     }
     .slide img{
      height: 500px;
     }
     .cart-details{
      left: 80px;
      top: 40px;
     }
     .write{
      text-align: center;
      width: 320px;
      
     }
     .w h2{
      font-size: 2.0rem;
     }
     .w p{
      font-size: 0.7rem;
     }
     
     .grid{
      grid-template-columns: repeat(2,184px);
      gap: 8px;
     }
     .grid div{
      margin-bottom: 120px;
     }
     .grid div img{
      width: 184px;
     }
     .best{
      margin-top: 20px;
     }
     .grid2{
      grid-template-columns: repeat(2,184px);
     }
     .grid2 div{
      margin-bottom: 120px;
     }

     .grid2 div img{
      width: 184px;
     }
     .grids{
      grid-template-columns: repeat(2,184px);
      gap: 8px;
     }
     .grids div{
      margin-bottom: 90px;
     }
     .grids div img{
      width: 184px;
     }
     .grids div p:nth-child(5){
      left: 130px;
     }
     .flex-con{
      flex-direction: column;
     }
     .flex1{
      width: 380px;
     }
     .flex1 div img{
      width: 380px;
     }
     
     .box{
      font-size: 15px;
      text-align: center;
      height: 170px;
     }
     .box-content{
      flex-direction: column;
      padding-top: 40px;
     }
     .box2{
      flex-direction: column;
     }
     .container{
      flex-direction: column;
     }
      .men-container{
        display: block;
      }
      .down{
        width: 100px;
      }
      .logo{
        gap: 80px;
     }
     .search-container{
      width: 120px;
     }
     .search-input{
      width: 90%;
     }
  }