*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.margin-div{
    width: 100%;
    height: 100vh;
    background-color: rgb(4, 68, 68);
    
}
    
.padding-div{
    width: 100%;
    height: 100vh;
    background-color: rgb(66, 145, 145);
    display: flex;

    
}
.margin1{
    width: 100px;
    height: 100px;
    background-color: rgb(66, 145, 145);
    margin-left: 1250px ;

}


.margin2 {
    width: 100px;
    height: 100px;
    background-color: #be0d0d;
    margin-left: 1000px;
    margin-top: 300px;
}

.margin3 {
    width: 100px;
    height: 100px;
    background-color: #FF6b6b;
    margin-left: 300px;
    
}
.margin4 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    
}
.margin5 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    
}


.padding1{

    width: 200px;
    height: 200px;
    background-color: #4ECDC4;
    padding-top: 50px;
    position: absolute;

}
.padding2{
    width: 200px;
    height: 200px;
    background-color: #4ECDC4;
    
}
.padding3{
    width: 200px;
    height: 200px;
    background-color: #4ECDC4;
}  
.padding4{
    width: 200px;
    height: 200px;
    background-color: #4ECDC4;
}  
.padding5{
    width: 100px;
    height: 100px;
    background-color: #A084DC;
    
}
.padding-div div div{
    width:70% ;
    height: 70%;
    background-color: rgb(214, 214, 31);
}