*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sign-up-gen{
    width: 100%;
    height: 120vh;
    background-color: white;
    justify-items: center;
}

.sign-up-sub1{
    width: 100%;
    height: 100px;
    background-color:#F3E8FF;
} 
@font-face{
    font-family:myfont ;
    src: url(PlayfairDisplay-Regular.ttf);
  }
.sign-up-sub1 h1{
    font-size: 30px;
    font-family: myfont;
    padding-top: 30px;
    margin-left: 20px;
    letter-spacing: 1px;

}
.sign-up-sub1 p{
    font-size: 20px;
    font-family: myfont;
    margin-left: 110px;
    letter-spacing: 1px;

}
.sign-up-sub2{
    width: 550px;
    height: 550px;
    background-color:#F3E8FF;
    margin-top: 120px;
    margin-left: 70PX;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    
}

.sign-up-sub2 h1{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
    margin-left: 40px;
    letter-spacing: 2px;
    align-items: center;
    text-align: center;
    color: black;
}
.email-div{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
}
.email-icon-div{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}
.email-icon-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.email-div input{
    width: 83%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin-left: 20px;
}
.email-div input:focus{
    outline: none;
    border: 4px solid black;
}
.contact-div{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
}
.contact-icon-div{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}
.contact-icon-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.contact-div input{
    width: 83%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin-left: 20px;
}
.contact-div input:focus{
    outline: none;
    border: 4px solid black;
}


.username-div{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
}
.username-icon-div{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}
.username-icon-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.username-div input{
    width: 83%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin-left: 20px;
}
.username-div input:focus{
    outline: none;
    border: 4px solid black;
}
.password-div{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
}
.password-icon-div{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}
.password-icon-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.password-div input{
    width: 83%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin-left: 20px;
}
.password-div input:focus{
    outline: none;
    border: 4px solid black;
}
.sign-up-button-div{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black;  */
}
.sign-up-button-div button{
    width: 85%;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    margin-left: 50px;
}
.sign-up-button-div button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.login-div{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    justify-content: center;
}
.login-div p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
}
.login-div p a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    font-weight: 400;
}
.login-div p a:hover{
    text-decoration: underline;
    color: blue;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
}
@media (min-width: 320px) and (max-width: 767px){
    .sign-up-sub-div2{
        width: 400px;
        margin-left: 0;
    }
    .email-div{
        width: 95%;
    }
    .contact-div{
        width: 95%;
    }
    .sign-up-sub-div2{
        width: 400px;
        margin-left: 0;
    }
    .email-div{
        width: 95%;
    }
    .contact-div{
        width: 95%;
    }
    .username-div{
        width: 95%;
    }
    .password-div{
        width: 95%;
    }
}