#container{
    padding: 0px 20px;
}
#navbar{
    display: flex;
    border: 2px solid black;
    padding: 40px 30px;
    background-color: rgb(127, 127, 224);
    justify-content: space-between;
    color: white;
}
#nav_nav{
    padding-top: 60px;
    font-size: 18px;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.group_one{
    background-color: white;
    padding: 10px;
}